@import './article-text/article-text.css';
@import './effects/logo-effects.css';
@import './slider/slider.css';
@import './video/video.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.logoShadow{
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 8px 10px -6px rgb(0 0 0 / 10%);

  @media screen and (max-width: 768px) {
    box-shadow: none;
  }  
}

.quote {
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 8px 10px -6px rgb(0 0 0 / 10%);
}






html, body{
  margin: 0;
  scrollbar-width: none;  /* Firefox */
  overflow-x: scroll;
}

::-webkit-scrollbar {
  display: none;
}

header{
  position: sticky;
  z-index: 30;
  top: 0;
  /* background: #E40613; */
}

nav{
  display: flex;
  /* padding: 16px; */
  justify-content: space-between;
  align-items: center;
}

.nav__menu-bar{
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.nav__menu-bar div{
  width: 40px;
  height: 4px;
  background-color: #f00;
  border-radius: 2px;
}
.nav__menu-list{
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  row-gap: 24px;
  right: -100%;
  padding: 0 32px;
  transition: all 0.2s ease-out;
  top: 0em;
  min-height: calc(100vh - 60px);

  @media screen and (max-width: 768px) {
    margin-top: 30px;
    padding: 1em 1.5em;
    top: 2em;
  }


}
.nav__menu-list.active{
  
  @media screen and (max-width: 768px) {
    top: 2rem;
    @apply ease-linear;
    padding-left: 1.5em;
  }
  right: 0;
  height: 100%;
}
.nav__link{
  font-size: 18px; 
  position: relative;
  transition: all 0.2s;
  font-weight: bold;
}

a.nav__link.active{
 color: red;
}
a.nav__link:hover{
 color: red;
}

.nav__menu-list{
  background: #000000;
  /* color: #E40613  */
}

@media screen and (min-width: 960px) {
  .nav__menu-bar{
    display: none;
  }
  .nav__menu-list{
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    width: fit-content;
    column-gap: 24px;
    align-items: center;
    background: unset;
   }
  
   .nav__link::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 6px;
    bottom: -8px;
    left: 0;
    background-color: red;
    transition: all 0.2s;
  }
  
  .nav__link.active::before,
  .nav__link:hover:before{
    width: 100%;
  }
}


.header__tint{
  background-color: rgb(248 245 242);
}

.job_panel{
  padding: 2rem 5px 2em 2em;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 10px; 
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}

.bg-white{
  background-color: white; 
}

.bg-black{
  background-color: #000000;
  color: #fff; 
}

@media screen and (max-width: 568px) {
  .job_panel{
    flex-direction: column;
    padding: 2rem;
  }
}

.gap{
  gap: 2em;
}

.schticky{
  position: sticky;
  top: 0;
  z-index: 3;

  @media screen and (max-width: 760px) {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    background: white;
    margin-bottom: 4em;
  }
  
}

.menu__icon {
  width: 40px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-out;
}
.menu__icon div {
  border-radius: 2px;
  height: 6px;
}
.menu__mobile {
  height: calc(100vh - 176px);
  transition: all 0.3s ease-in-out;
}

.nav.active .menu__mobile {
  right: 0;
}
.menu__icon div:nth-child(2) {
  margin: 6px 0;
}

.menu__icon.active div:nth-child(1) {
  animation: menuAnim1 0.3s ease-in-out forwards;
}
.menu__icon.active div:nth-child(2) {
  animation: menuAnim2 0.3s ease-in-out forwards;
}
.menu__icon.active div:nth-child(3) {
  animation: menuAnim3 0.3s ease-in-out forwards;
}
.menu__icon.inactive div:nth-child(1) {
  animation: revmenuAnim1 0.3s ease-in-out;
}
.menu__icon.inactive div:nth-child(2) {
  animation: revmenuAnim2 0.3s ease-in-out;
}
.menu__icon.inactive div:nth-child(3) {
  animation: revmenuAnim3 0.3s ease-in-out;
}

@keyframes menuAnim1 {
  0% {
    transform: translateY(0);
  }

  70% {
    transform: translateY(12px);
  }
  100% {
    transform: translateY(12px) rotateZ(45deg);
  }
}
@keyframes menuAnim2 {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes menuAnim3 {
  0% {
    transform: translateY(0);
  }

  70% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(-12px) rotateZ(135deg);
  }
}

@keyframes revmenuAnim1 {
  0% {
    transform: translateY(12px) rotateZ(45deg);
  }

  70% {
    transform: translateY(12px);
  }
  100% {
    transform: translateY(0px) rotateZ(0deg);
  }
}
@keyframes revmenuAnim2 {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes revmenuAnim3 {
  0% {
    transform: translateY(-12px) rotateZ(135deg);
  }

  70% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0) rotateZ(0);
  }
}


.homeAdjust{
  @media screen and (max-width: 760px) {
    margin-top: 4em;
  }
}

.pixel_heart {
  box-shadow: 70px 50px 0 0 rgba(255, 0, 0, 1), 80px 50px 0 0 rgba(255, 0, 0, 1), 120px 50px 0 0 rgba(255, 0, 0, 1), 130px 50px 0 0 rgba(255, 0, 0, 1), 60px 60px 0 0 rgba(255, 0, 0, 1), 70px 60px 0 0 rgba(255, 0, 0, 1), 80px 60px 0 0 rgba(255, 0, 0, 1), 90px 60px 0 0 rgba(255, 0, 0, 1), 110px 60px 0 0 rgba(255, 0, 0, 1), 120px 60px 0 0 rgba(255, 0, 0, 1), 130px 60px 0 0 rgba(255, 0, 0, 1), 140px 60px 0 0 rgba(255, 0, 0, 1), 50px 70px 0 0 rgba(255, 0, 0, 1), 60px 70px 0 0 rgba(255, 0, 0, 1), 70px 70px 0 0 rgba(255, 0, 0, 1), 80px 70px 0 0 rgba(255, 0, 0, 1), 90px 70px 0 0 rgba(255, 0, 0, 1), 100px 70px 0 0 rgba(255, 0, 0, 1), 110px 70px 0 0 rgba(255, 0, 0, 1), 120px 70px 0 0 rgba(255, 0, 0, 1), 130px 70px 0 0 rgba(255, 0, 0, 1), 140px 70px 0 0 rgba(255, 0, 0, 1), 150px 70px 0 0 rgba(255, 0, 0, 1), 50px 80px 0 0 rgba(255, 0, 0, 1), 60px 80px 0 0 rgba(255, 0, 0, 1), 70px 80px 0 0 rgba(255, 0, 0, 1), 80px 80px 0 0 rgba(255, 0, 0, 1), 90px 80px 0 0 rgba(255, 0, 0, 1), 100px 80px 0 0 rgba(255, 0, 0, 1), 110px 80px 0 0 rgba(255, 0, 0, 1), 120px 80px 0 0 rgba(255, 0, 0, 1), 130px 80px 0 0 rgba(255, 0, 0, 1), 140px 80px 0 0 rgba(255, 0, 0, 1), 150px 80px 0 0 rgba(255, 0, 0, 1), 60px 90px 0 0 rgba(255, 0, 0, 1), 70px 90px 0 0 rgba(255, 0, 0, 1), 80px 90px 0 0 rgba(255, 0, 0, 1), 90px 90px 0 0 rgba(255, 0, 0, 1), 100px 90px 0 0 rgba(255, 0, 0, 1), 110px 90px 0 0 rgba(255, 0, 0, 1), 120px 90px 0 0 rgba(255, 0, 0, 1), 130px 90px 0 0 rgba(255, 0, 0, 1), 140px 90px 0 0 rgba(255, 0, 0, 1), 70px 100px 0 0 rgba(255, 0, 0, 1), 80px 100px 0 0 rgba(255, 0, 0, 1), 90px 100px 0 0 rgba(255, 0, 0, 1), 100px 100px 0 0 rgba(255, 0, 0, 1), 110px 100px 0 0 rgba(255, 0, 0, 1), 120px 100px 0 0 rgba(255, 0, 0, 1), 130px 100px 0 0 rgba(255, 0, 0, 1), 80px 110px 0 0 rgba(255, 0, 0, 1), 90px 110px 0 0 rgba(255, 0, 0, 1), 100px 110px 0 0 rgba(255, 0, 0, 1), 110px 110px 0 0 rgba(255, 0, 0, 1), 120px 110px 0 0 rgba(255, 0, 0, 1), 90px 120px 0 0 rgba(255, 0, 0, 1), 100px 120px 0 0 rgba(255, 0, 0, 1), 110px 120px 0 0 rgba(255, 0, 0, 1), 100px 130px 0 0 rgba(255, 0, 0, 1);
  height: 10px;
  width: 10px;
}

blockquote > p {
  line-height: 2rem;
  //margin: 2em 0 3em 0;
}

.border-red-500 {
  --tw-border-opacity: 1;
  /* border-color: rgb(115 115 115 / var(--tw-border-opacity)); */
  border-color: red;
}


.yarl__slide_image{
  max-width: 100%!important;
  max-height: 100%!important;
}



.btn-red {
  @apply bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded;
}

@layer components{
  .rd_txt{
    color: red;
  }
}


.override{
  padding-top: 4rem!important;
  padding-bottom: 0!important;
  @media (max-width: 760px){
    padding-top: 8rem!important;
  }
}

.fade:not(.show) {
    opacity: 0;
}

.fade {
    transition: opacity .15s linear;
}

.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

.composedHeading{
  @apply font-black tracking-tighter text-5xl md:text-[5rem] mb-6 last:mb-0 uppercase;
}

.footer{
  @apply bg-black pb-12 text-white md:pb-12;
}

.nav__link .text-white .font-black .uppercase .active{
  color: red!important;
}


.mobileSearch{
  @apply w-full rounded-l rounded-r-none border border-slate-500 bg-slate-600 py-3 pl-3 pr-10 text-white placeholder-slate-400
}


.boundedContainer{
  @apply px-6 py-10 md:py-20;
  @apply sm:py-8 md:py-10;
}

.header__underline{
  @apply mt-2 h-1 w-20 bg-red-500 rounded
}